<%= form_with(model: quarter, url: [enrollment, quarter], class: "pure-form pure-form-stacked") do |form| %>
  <% if quarter.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(quarter.errors.count, "error") %> prohibited this quarter from being saved:</h4>

      <ul>
        <% quarter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label "Select quarter number*", style: "display: block" %>
    <%= form.select :quarter_number,
      options_for_select(
        (1..4).collect{|quarter| [quarter, quarter]},
        { selected: quarter.quarter_number }
      )
    %>

    <%= form.label "Grade*", style: "display: block" %>
    <%= form.select :grade,
      options_for_select(
        (1..10).collect{|grade| [grade, grade]},
        { selected: quarter.grade }
      )
    %>

    <span class="pure-form-message">* Required fields</span>
    <%= form.submit "Send", class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>
