<h1>Update Grade to Enrollment</h1>

<%= render "form", quarter: @quarter, enrollment: @enrollment %>

<%= link_to "Back to enrollment", enrollment_path(@enrollment), class: "pure-button button-cancel" %>