<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "pure-form pure-form-stacked" }) do |f| %>
  <%= render "students/shared/error_messages", resource: resource %>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.submit "Send me reset password instructions", class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>

<%= render "shared/links" %>
