<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "pure-form pure-form-stacked" }) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

  <fieldset>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

    <%= f.submit "Resend confirmation instructions", class: "pure-button pure-button-primary"  %>
  </fieldset>
<% end %>

<%= render "shared/links" %>
