<%= form_with(model: student, class: "pure-form pure-form-stacked") do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h4>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :fullname, style: "display: block" %>
    <%= form.text_field :fullname %>

    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>

    <%- if current_student %>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>

    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation %>
    <%- end %>

    <%= form.submit "Send", class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>
