<tr id="<%= dom_id student %>">
  <td>
    <%= student.fullname %>
  </td>

  <td>
    <%= student.email %>
  </td>
  <td>
    <%= link_to "See student details", student, class: "pure-button" %>
  </td>
</tr>
