<h1>Students</h1>

<div id="students">
  <table class="pure-table pure-table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
  <% @students.each do |student| %>
    <%= render 'student-table', student: student %>
  <% end %>
  </table>
</div>

<%= link_to "New student", new_student_path, class: "pure-button button-secondary" %>
