<%= render @student %>

<div>
  <%= link_to "Edit student", edit_student_path(@student), class: "pure-button pure-button-primary" %> |
  <%- if current_student %>
  <%= link_to "Back to enrollments", enrollments_path, class: "pure-button button-cancel" %>
  <%-end %>
  <%- if current_admin %>
  <%= link_to "Back to students", students_path, class: "pure-button button-cancel" %>

  <%= button_to "Deactivate student this student", @student, method: :delete, class: "pure-button button-error", data: { turbo_confirm: "Are you sure?" } %>
  <%- end %>
</div>
