<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "pure-form pure-form-stacked" }) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.label :password %><i class="pure-form-message">(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em class="pure-form-message"><%= @minimum_password_length %> characters minimum</em>
    <% end %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.label :current_password %> <i class="pure-form-message">(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password" %>

    <%= f.submit "Update", class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>

<%= link_to "Back", :back, class: "pure-button button-cancel" %>
