<h2>Sign up as Admin</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "pure-form pure-form-stacked"}) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <span class="pure-form-message">(<%= @minimum_password_length %> characters minimum)</span>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>


    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.submit "Sign up", class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>

<%= render "shared/links" %>
