Hi <%= @student.fullname.titleize %>
You got a new grade for <%= @course.name %>(<%= @enrolment.year %>).
You can check it following this url: <%= @url %>.

If you have any question, do not hesitate to contact any admin.