<h2>Hi <%= @student.fullname.titleize %></h2>
<p>A grade was modified for <%= @course.name %>(<%= @enrollment.year %>).</p>
<p>You can check it following <a href="<%= @url %>">this link</a>.</p>

<p>If you have any question, do not hesitate to contact any admin.</p>