Greetings <%= @student.fullname.titleize%>

We are glad to inform to you the enrollment to <%= @course.name %> course.
You can find more information following this link: <%= @url %>.

If you have any question, do not hesitate to contact any admin.