<h2>Greetings <%= @student.fullname.titleize%></h2>

<p>We are glad to inform to you the enrollment to <b><%= @course.name %></b> course.</p>
<p>You can find more information following this link: <%= @url %>.</p>

<em>If you have any question, do not hesitate to contact any admin.</em>