<nav>
  <div class="nav-wrapper">
    <div class="nav-links">
      <ul>
        <%- if current_student || current_admin %>
        <li><%= link_to "Enrollments", enrollments_path %></li>
        <%- end %>
        <%- if current_admin %>
        <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Students", students_path %></li>
        <%- end %>
      </ul>
    </div>
    <div class="nav-login-links">
      <ul>
        <%- if current_admin || current_student %>
        <li><%= link_to "Edit my info", current_admin ? edit_admin_registration_path : student_path(current_student), class: "pure-button button-secondary" %></li>
        <li><%= button_to "Sign out", current_admin ? destroy_admin_session_path : destroy_student_session_path, method: :delete, class: "pure-button button-error", data: {turbo_confirm: "Are you sure to sign out?"} %></li>
        <%- else %>
        <li><%= link_to "Log in as Admin", new_admin_session_path, class: "pure-button pure-button-primary" %></li>
        <li><%= link_to "Log in as Student", new_student_session_path, class: "pure-button button-secondary" %></li>
        <%- end %>
      </ul>
    </div>
  </div>
</nav>