<h1>Welcome to [Insert School]</h1>
<%- if current_student || current_admin %>
<p>Glad to see you again <%= current_admin ? "Admin": current_student.fullname.titleize %></p>
<%- else %>
<p>Please, log in using the buttons on the navbar</p>
<%- end %>