<tr id="<%= dom_id enrollment %>">
  <%- if current_admin %>
  <td>
    <%= enrollment.student.fullname %>
  </td>
  <%- end %>
  <td>
    <%= enrollment.course.name %>
  </td>
  <td>
    <%= enrollment.year || Date.today.year%>
  </td>
  <td>
    <%= link_to "See enrollment details", enrollment, class: "pure-button" %>
  </td>
</tr>