<div id="<%= dom_id enrollment %>">
  <p>
    <strong>student:</strong>
    <%= enrollment.student.fullname %>
  </p>

  <p>
    <strong>course:</strong>
    <%= enrollment.course.name %>
  </p>

  <p>
    <strong>course's year:</strong>
    <%= enrollment.year %>
  </p>

  <h3>Grades</h3>
  <%- if enrollment.quarters.size > 0 %>
  <table class="pure-table pure-table-striped">
    <thead>
      <th>Quarter #</th>
      <th>Grade</th>
      <th>Status</th>
      <%- if current_admin %>
      <th>Actions</th>
      <%- end %>
    </thead>
    <tbody>
      <%- enrollment.quarters.each do |quarter| %>
      <tr>
        <td><%= quarter.quarter_number %></td>
        <td><%= quarter.grade%></td>
        <td><%= quarter.passed? ? "Passed" : "Failed" %></td>
        <%- if current_admin %>
        <td><%= link_to "Edit", edit_enrollment_quarter_path(enrollment_id: enrollment.id, id: quarter.id), class: "pure-button button-success" %></td>
        <%- end %>
      </tr>
      <%- end %>
    </tbody>
  </table>
  <%- else %>
  <p>Your grades are missing in the space/time... (You don't have any yet)</p>
  <%- end%>

</div>