<%= form_with(model: enrollment, class: "pure-form pure-form-stacked") do |form| %>
  <% if enrollment.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h4>

      <ul>
        <% enrollment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label "Student*", style: "display: block" %>
    <%= form.select :student_id,
      options_for_select(Student.active.pluck(:fullname, :id), { selected: enrollment.student_id })
    %>

    <%= form.label "Student*", style: "display: block" %>
    <%= form.select :course_id,
      options_for_select(Course.active.pluck(:name, :id), { selected: enrollment.course_id })
    %>

    <%= form.label "Select course year", style: "display: block" %>
    <%= form.select :year,
      options_for_select(
        ((Date.today.year - 6)..Date.today.year).to_a.reverse.collect{|year| [year, year]},
        { selected: enrollment.year || Date.today.year }
      )
    %>
    <span class="pure-form-message">* Required fields</span>
    <%= form.submit "Send", class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>
