<h1>Enrollments<%= " of #{current_student.fullname.titleize}" if current_student %></h1>

<div id="enrollments">
  <%- if @enrollments.length > 0 %>
    <table class="pure-table pure-table-striped">
      <thead>
        <tr>
          <%- if current_admin %>
          <th>Student</th>
          <%- end %>
          <th>Course</th>
          <th>Course's Year</th>
          <th>Actions</th>
        </tr>  
      </thead>
    <%- @enrollments.each do |enrollment| %>
      <%= render 'enrollment-table', enrollment: enrollment %>
    <%- end %>
    </table>
  <%- else %>
    <p>You don't have any enrollments, please referer to a Admin to solve it as soon as possible.</p>
  <%- end %>
</div>

<%= link_to("New enrollment", new_enrollment_path, class: "pure-button button-secondary") if current_admin %>
