<h1>New Enrollment</h1>

<%= render "form", enrollment: @enrollment, courses: @courses, students: @students %>

<br>

<div>
  <%= link_to "Back to Enrollments", enrollments_path, class: "pure-button button-cancel" %>
</div>
