<%= render @enrollment %>

<%- if current_student %>
<p>If you have any question about this enrollment, please contact to your admin.</p>
<%- end %>

<div class="pure-g">
  <%= link_to "Edit this enrollment", edit_enrollment_path(@enrollment), class: "pure-button pure-button-primary" if current_admin %>
  <%= link_to "Add grade to this enrollment", new_enrollment_quarter_path(enrollment_id: @enrollment.id), class: "pure-button button-secondary" if current_admin %>
  <%= button_to "Unenroll", @enrollment, method: :delete, class: "pure-button button-error", data: { turbo_confirm: "Are you sure?" } if current_admin %>

  <%= link_to "Back to enrollment", enrollments_path, class: "pure-button button-cancel" %>
</div>
