<h2>Log in as Admin</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "pure-form pure-form-stacked"}) do |f| %>
  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>

    <% if devise_mapping.rememberable? %>
    <div class="pure-g">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>

    <%= f.submit "Log in", class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>

<%= render "shared/links" %>
