<%= form_with(model: course, class: "pure-form pure-form-stacked") do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h4>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>

    <%= form.submit "Send", class: "pure-button pure-button-primary" %>
  </fieldset>
<% end %>
