<h1>Courses</h1>

<div id="courses">
  <table class="pure-table pure-table-striped">
    <thead>
      <tr>
        <th>Course</th>
        <th>Actions</th>
      </tr>  
    </thead>
  <% @courses.each do |course| %>
    <%= render 'course-table', course: course %>
  <% end %>
  </table>
</div>

<%= link_to "New course", new_course_path, class: "pure-button button-secondary" %>
