<%= render @course %>

<div>
  <%= link_to "Edit this course", edit_course_path(@course), class: "pure-button pure-button-primary" %> |
  <%= link_to "Back to courses", courses_path, class: "pure-button button-cancel" %>

  <%= button_to "Deactivate this course", @course, method: :delete, class: "pure-button button-error", data: { turbo_confirm: "Are you sure?"} %>
</div>
