<h2>Welcome <%= @student.fullname.titleize %>!</h2>
<p>You're enrolled to [School name], please <a href="<%= @url %>">log in</a> using the password <em><%= @temporal_password %></em>.</p>
<p>We recommend to update your password once you log in for first time.</p>
<p>Hope you are excited as we are!, see you soon.</p>
