Welcome <%= @student.fullname.titleize %>!

You're enrolled to [School name], please log in following this link: <%= @login_url %> using the password <%= @temporal_password %>.
We recommend to update your password once you log in for first time.

Hope you are excited as we are!, see you soon.