/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
  Importing components
*/
@import url('./buttons.css');
html, body {
  font-family: "Poppins", sans-serif, 'Courier New', Courier, monospace;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #333;
}
nav .nav-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
nav ul li {
  color: #efefef;
}
nav ul li:hover {
  background-color: rgba( 220, 220, 200, .2);
}
nav ul li a {
  display: block;
  padding: 1rem .8rem;
  color: #efefef;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: transparent;
}
a {
  color: #8155c6;
  text-decoration: underline;
}
a:hover {
  background-color:rgba( 220, 220, 200, .5)
}
main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}
.pure-g {
  gap: 8px;
}