.button-success,
.button-error,
.button-warning,
.button-secondary,
.pure-button-primary,
.button-cancel {
  color: white !important;
  border-radius: 4px !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background-color: rgb(28, 184, 65) !important;
}

.button-error {
  background-color: rgb(202, 60, 60) !important;
}

.button-warning {
  background-color: rgb(223, 117, 20) !important;
}

.button-secondary {
  background-color: rgb(66, 184, 221) !important;
}
.button-cancel {
  background-color: rgb(74, 74, 74) !important;
}