<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'pure-form pure-form-stacked' }) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <fieldset>
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em class="pure-form-message">(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>

    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.submit "Change my password", class: "pure-button pure-button-primary"  %>
  </fieldset>
<% end %>

<%= render "shared/links" %>
