<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "pure-form pure-form-stacked" }) do |f| %>
  <%= render "students/shared/error_messages", resource: resource %>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p class="pure-form-message">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

    <%= f.label :password %> <i class="pure-form-message">(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em class="pure-form-message"><%= @minimum_password_length %> characters minimum</em>
    <% end %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password" %>

    <%= f.submit "Update", class: "pure-button pure-button-primary" %>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "pure-button button-error" %></div>

<%= link_to "Back", :back, class: "pure-button button-cancel" %>
