<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "pure-form pure-form-stacked"}) do |f| %>
  <%= render "students/shared/error_messages", resource: resource %>

  <fieldset>
    <%= f.label :fullname %>
    <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname" %>

    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em class="pure-form-message">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.submit "Sign up", class: "pure-button pure-button-primary" %>
<% end %>

<%= render "shared/links" %>
